:root{
    font-size: calc( 0.5em + 1vw);
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(75, 55, 154);
}

.info{
    margin: 8% 10% 8% 10%;
    background-color: white;
}

.portada{
    background-image: url("imagenes/header-bg.jpg");
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 75vh;
    flex-direction: column;
    position: relative;
    background-repeat: cover;
}

.portada h4{
    z-index: 1;
    margin: 0;
    font-weight: 400;
}

.portada h1{
    font-weight: 100;
    margin: 0;
    font-size: 5em;
    z-index: 1;
}

.portada img{
    padding: 1%;
    position: absolute;
    top: 0;
    left: 0;
}

.portada button{
    z-index: 1;
}

.portada::before , .form::before{
    content: "";
    position: absolute;
    background-color: blueviolet;
    z-index: 0;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.9;
}

.reasons, .reasons2 , span, .form{
    margin-left: 2%;
    height: 75vh;
}

.reasons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reasons .titulos{
    width: 80%;
}

.reasons img{
    height: 60%;
    width: 55%;
    padding: 2%;
    margin: 0;
}

.reasons2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-repeat: space;
    background-image: url("imagenes/parallux-bg.jpg");
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
}

.reasons2 .titulos{
    width: 70%;
}

.reasons2 .reasons-content{
    margin:2%;
    width: 45%;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}

.content{
    font-size: 0.75em;
    font-weight: 100;
}

.titulos{
    font-size: 1.5em;
    text-align: left;
    font-weight: 100;
}

.galeria{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.cuadro{
    padding: 3%;
}


.form{
    position: relative;
    background: url("imagenes/s2.jpg") no-repeat center center/cover;
    justify-content: center;
    align-items:center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 100;
}

.form p{
    margin: 0;
    z-index: 1;
}

form{
    margin: 5% 2% 0 2%;
    display: grid;
    height: 55%;
    z-index: 1;
    grid-template-areas: "name email"
                        "message message"
                        "boton boton";
    width: 70%;
}

#name{
    height: 50%;
    margin-top: 0;
    grid-area: name;
}

#email{
    height: 50%;
    grid-area: email;
    margin-top: 0;
}

#message{
    grid-area: message;
    height: 90%;
    margin-top: 0; 
}

#boton{
    grid-area: boton;
    width: 50%;
}

#name, #boton, #email, #message{
    margin: 1em;
    background-color: transparent;
    border: solid blueviolet 1px;
    color: white;
    font-size: 0.5em;
    padding-left: 3%;
}

::-webkit-input-placeholder{
    color: whitesmoke;
}

.parrafo{
    font-weight: 200;
    width: 45%;
    font-size: 1em; 
    text-align: center;
    height: 10%;
}

span{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    flex-direction: column;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222222;
    padding: 10% 0 10% 0;
    color: white;
}

footer ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-around;;
}

.menu{
    width: 40%;
}

.redes{
    width: 20%;
}
.cuadro img{
    height: 100%;
    width: 100%;
}

.end{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 1em;
    font-size: 1em;
    height: 2em;
    width: 9em;
    font-family: 'Poppins', sans-serif;
}

.start{
    border: 1px solid blueviolet;
    background-color: blueviolet;
    color: white;
    border-radius: 1em;
    text-align: center;
    font-size: 0.8em;
    height: 2em;
    width: 9em;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 768px) {
    .galeria{
        grid-template-columns: 100%;
    }

    form{
        grid-template-areas: "name"
                            "email"
                            "message"
                            "boton";
        
    }
    .reasons2 .reasons-content{
        margin:2%;
        width: 75%;
        display: inline;
        right: 10%;
    }

    .reasons{
        flex-direction: column;
    }

    .reasons img{
        height: 45%;
        width: 75%;
        padding: 0;
    }
    #num1{
        width: 75%;
        margin-bottom: 2%;
    }
}